@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --details-color: #E46547;
    --details-hover-color: #0275d8;
}


/*body*/
body {
    background: #385C7A !important;
}

a{
    color: black;
}

.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_container a{
    margin-left: 10px;
}
.card.log {
    width: 50%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, .375);
    border:1px solid rgba(133, 133, 133, 0.733);
}
.form_button{
    text-align: center;
}

/* nawigacja */
#navigation_flex{
    display: flex;
}
.logo_brand{
    width: 70%;
    margin-left: 5%;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-items-to_right{
    margin-right: 30px;
}

.nav-link{
    margin-right: 30px;
}

.navbar-toggler{
    margin: 0 20px 20px auto;
}

button.btn-nav{
    background: none;
    border: none;
    margin-right: 45px;
    padding: 0.5rem 0;
}

button.btn-nav:hover{
    color: var(--details-color);
    font-weight: bold;
    font-size: 18px;
}

.user_name{
    margin-right: 30px;
    margin-bottom: 0 !important;
    padding: 0.5rem 0;
}

/* sekcja komunikatów*/
.container_message{
    text-align: center;
    color: var(--details-color);
    font-weight: bold;
    padding-bottom: 20px;
}


/*btn*/
.btn {
    background: var(--details-color) !important;
    color: rgb(255, 255, 255) !important;
    border:1px solid var(--details-color) !important;
}

.btn:hover{
    background-color: var(--details-hover-color) !important;
    border:1px solid var(--details-hover-color) !important;
}

/*form*/
.form-control:focus {
    border-color: var(--details-hover-color) !important;
}
.select_form{
    text-align: center;
}

/* dodaj wolne terminy */
.checkbox_hours{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* moje szczepienia */
.vaccines_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card.mb-4{
    max-width: 85%;
    margin: auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .375);
    border-radius: 6px;
}

/* ustal termin wizyty */
.select_dates{
    display: flex;
    flex-wrap: wrap;
}

/* wolne terminy */
form.terms_list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_body_item{
    padding: 0 1rem !important;
}

.form_button{
    margin: auto 0;
}

.form_button button{
    font-size: 16px;
}

/*data*/
.card-body.m-t2{
    margin: auto;
    max-width: 60%;
    text-align: center;

}
.mb-3.w-25{
    display: inline-block;
    margin:auto;
    text-align: center;
}

/* wyszukiwarka */
.search_engine_options{
    width: 100px;
    margin: 0;
}

.form-check{
    margin: auto 0;
}

.search_engine_button{
    margin-left: 20px;
}

/* raporty */
.form_raports{
    justify-content: space-between;
}

.raports_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.raports_options{
    margin-bottom: 0;
}

/* footer */
.footer_style{
    text-align: center;
    margin-top: 40px;
    color: white;
}


/* Mixiny */
@media all and (max-width: 991px) {
    .card.log{
        width:90%;
    }
    .form-label-group{
        margin-right: 1.5rem;
    }
    .w-25{
        width: 100% !important;
    }
}

@media all and (max-width: 1250px) {
    .card.log{
        width:70%;
    }
    .flex_container{
        justify-content: center;
    }
}

@media all and (max-width: 980px) {
    .form_raports{
        justify-content: center;
    }
}

@media all and (max-width: 787px) {
    .search_engine_div{
        width: 100%;
        padding: 0;
    }
    .search_engine_div input{
        width: 100%;
    }
    .search_engine_button{
        margin: 10px auto;
    }
}

@media all and (max-width: 776px) {
    form.terms_list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 620px) {
    .search_engine_div{
        width: 100%;
        padding: 0;
    }
    .search_engine_div input{
        width: 100%;
    }
    .search_engine_button{
        margin: 10px auto;
    }
}